<!--&lt;!&ndash;Hey! This is the original version-->
<!--of Simple CSS Waves&ndash;&gt;-->

<!--&lt;!&ndash;Header ends&ndash;&gt;-->

<!--&lt;!&ndash;Content starts&ndash;&gt;-->

<!--<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">-->

<!--<div class="container">-->
  <!--<div class="container-fluid">-->


    <!--&lt;!&ndash;Service Section start&ndash;&gt;-->
    <!--<section>-->
      <!--<h3>For Esprit Students, by Esprit Students</h3>-->
      <!--<hr class="line">-->
      <!--<p class="section-lead">-->
        <!--Stack Overflow is an open community for anyone that codes. We help you get answers to your toughest coding questions, share knowledge with your coworkers in private, and find your next dream job.-->

      <!--</p>-->
      <!--<div class="services-grid">-->
        <!--<div class="service service1">-->
          <!--<i class="ti-pencil-alt"></i>-->
          <!--<h4> Question&Aneswer</h4>-->
          <!--<p>Get answers to more than 16.5 million questions and give back by sharing your knowledge with others. Sign up for an account.-->

            <!--.</p>-->
          <!--<a href="#" class="cta">Read More <span class="ti-angle-right"></span></a>-->
        <!--</div>-->

        <!--<div class="service service2">-->
          <!--<i class="ti-light-bulb"></i>-->
          <!--<h4>Courses Pi</h4>-->
          <!--<p>Level up with Stack Overflow while you work. Share knowledge privately with your coworkers using our flagship Q&A engine.</p>-->
          <!--<a href="#" class="cta">Read More <span class="ti-angle-right"></span></a>-->
        <!--</div>-->

        <!--<div class="service service3">-->
          <!--<i class="ti-money"></i>-->
          <!--<h4>Be a Teacher </h4>-->
          <!--<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>-->
          <!--<a href="#" class="cta">Read more <span class="ti-angle-right"></span></a>-->
        <!--</div>-->
      <!--</div>-->
    <!--</section>-->

    <!--&lt;!&ndash;Service Section end&ndash;&gt;-->


  <!--</div>-->

<!--</div>-->
<!--<div>-->

<!--</div>-->
<!--&lt;!&ndash;Content ends&ndash;&gt;-->

<!--<br>-->

<!--<br>-->
<!--<br>-->
<!--<br>-->

<!--<section class="bg-gray text-center">-->
    <!--<h3>For Esprit Students, by Esprit Students</h3>-->
    <!--<hr class="line">-->
    <!--<p class="section-lead">-->
      <!--Stack Overflow is an open community for anyone that codes. We help you get answers to your toughest coding questions, share knowledge with your coworkers in private, and find your next dream job.-->

    <!--</p>-->


  <!--<section class="speakers-section-three">-->
    <!--<div class="container">-->
      <!--<div class="sec-title text-center">-->
        <!--<span class="title">Team</span>-->
        <!--<h2>Our Team</h2>-->
      <!--</div>-->
      <!--<div class="row">-->
        <!--&lt;!&ndash; Speaker Block &ndash;&gt;-->
        <!--<div class="speaker-block-three col-xl-3 col-lg-4 col-md-6 col-sm-12 wow fadeInUp">-->
          <!--<div class="inner-box">-->
            <!--<div class="image-box">-->
              <!--<figure class="image">-->
                <!--<a href="#"><img src="https://i.ibb.co/8x9xK4H/team.jpg" alt="" /></a>-->
              <!--</figure>-->
            <!--</div>-->
            <!--<div class="info-box">-->
              <!--<h4 class="name"><a href="#">Lorem Ipsum</a></h4>-->
              <!--<span class="designation">Team Manager</span>-->
            <!--</div>-->
            <!--<div class="social-box">-->
              <!--<ul class="social-links social-icon-colored">-->
                <!--<li>-->
                  <!--<a href="#"><i class="fab fa-facebook-f"></i></a>-->
                <!--</li>-->
                <!--<li>-->
                  <!--<a href="#"><i class="fab fa-twitter"></i></a>-->
                <!--</li>-->
                <!--<li>-->
                  <!--<a href="#"><i class="fab fa-pinterest"></i></a>-->
                <!--</li>-->
                <!--<li>-->
                  <!--<a href="#"><i class="fab fa-dribbble"></i></a>-->
                <!--</li>-->
              <!--</ul>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
        <!--&lt;!&ndash; Speaker Block &ndash;&gt;-->
        <!--<div class="speaker-block-three col-xl-3 col-lg-4 col-md-6 col-sm-12 wow fadeInUp">-->
          <!--<div class="inner-box">-->
            <!--<div class="image-box">-->
              <!--<figure class="image">-->
                <!--<a href="#"><img src="https://i.ibb.co/8x9xK4H/team.jpg" alt="" /></a>-->
              <!--</figure>-->
            <!--</div>-->
            <!--<div class="info-box">-->
              <!--<h4 class="name"><a href="#">Lorem Ipsum</a></h4>-->
              <!--<span class="designation">Team Manager</span>-->
            <!--</div>-->
            <!--<div class="social-box">-->
              <!--<ul class="social-links social-icon-colored">-->
                <!--<li>-->
                  <!--<a href="#"><i class="fab fa-facebook-f"></i></a>-->
                <!--</li>-->
                <!--<li>-->
                  <!--<a href="#"><i class="fab fa-twitter"></i></a>-->
                <!--</li>-->
                <!--<li>-->
                  <!--<a href="#"><i class="fab fa-pinterest"></i></a>-->
                <!--</li>-->
                <!--<li>-->
                  <!--<a href="#"><i class="fab fa-dribbble"></i></a>-->
                <!--</li>-->
              <!--</ul>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
        <!--&lt;!&ndash; Speaker Block &ndash;&gt;-->
        <!--<div class="speaker-block-three col-xl-3 col-lg-4 col-md-6 col-sm-12 wow fadeInUp">-->
          <!--<div class="inner-box">-->
            <!--<div class="image-box">-->
              <!--<figure class="image">-->
                <!--<a href="#"><img src="https://i.ibb.co/8x9xK4H/team.jpg" alt="" /></a>-->
              <!--</figure>-->
            <!--</div>-->
            <!--<div class="info-box">-->
              <!--<h4 class="name"><a href="#">Lorem Ipsum</a></h4>-->
              <!--<span class="designation">Team Manager</span>-->
            <!--</div>-->
            <!--<div class="social-box">-->
              <!--<ul class="social-links social-icon-colored">-->
                <!--<li>-->
                  <!--<a href="#"><i class="fab fa-facebook-f"></i></a>-->
                <!--</li>-->
                <!--<li>-->
                  <!--<a href="#"><i class="fab fa-twitter"></i></a>-->
                <!--</li>-->
                <!--<li>-->
                  <!--<a href="#"><i class="fab fa-pinterest"></i></a>-->
                <!--</li>-->
                <!--<li>-->
                  <!--<a href="#"><i class="fab fa-dribbble"></i></a>-->
                <!--</li>-->
              <!--</ul>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
        <!--&lt;!&ndash; Speaker Block &ndash;&gt;-->
        <!--<div class="speaker-block-three col-xl-3 col-lg-4 col-md-6 col-sm-12 wow fadeInUp">-->
          <!--<div class="inner-box">-->
            <!--<div class="image-box">-->
              <!--<figure class="image">-->
                <!--<a href="#"><img src="https://i.ibb.co/8x9xK4H/team.jpg" alt="" /></a>-->
              <!--</figure>-->
            <!--</div>-->
            <!--<div class="info-box">-->
              <!--<h4 class="name"><a href="#">Lorem Ipsum</a></h4>-->
              <!--<span class="designation">Team Manager</span>-->
            <!--</div>-->
            <!--<div class="social-box">-->
              <!--<ul class="social-links social-icon-colored">-->
                <!--<li>-->
                  <!--<a href="#"><i class="fab fa-facebook-f"></i></a>-->
                <!--</li>-->
                <!--<li>-->
                  <!--<a href="#"><i class="fab fa-twitter"></i></a>-->
                <!--</li>-->
                <!--<li>-->
                  <!--<a href="#"><i class="fab fa-pinterest"></i></a>-->
                <!--</li>-->
                <!--<li>-->
                  <!--<a href="#"><i class="fab fa-dribbble"></i></a>-->
                <!--</li>-->
              <!--</ul>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
        <!--&lt;!&ndash; Speaker Block &ndash;&gt;-->
        <!--<div class="speaker-block-three col-xl-3 col-lg-4 col-md-6 col-sm-12 wow fadeInUp">-->
          <!--<div class="inner-box">-->
            <!--<div class="image-box">-->
              <!--<figure class="image">-->
                <!--<a href="#"><img src="https://i.ibb.co/8x9xK4H/team.jpg" alt="" /></a>-->
              <!--</figure>-->
            <!--</div>-->
            <!--<div class="info-box">-->
              <!--<h4 class="name"><a href="#">Lorem Ipsum</a></h4>-->
              <!--<span class="designation">Team Manager</span>-->
            <!--</div>-->
            <!--<div class="social-box">-->
              <!--<ul class="social-links social-icon-colored">-->
                <!--<li>-->
                  <!--<a href="#"><i class="fab fa-facebook-f"></i></a>-->
                <!--</li>-->
                <!--<li>-->
                  <!--<a href="#"><i class="fab fa-twitter"></i></a>-->
                <!--</li>-->
                <!--<li>-->
                  <!--<a href="#"><i class="fab fa-pinterest"></i></a>-->
                <!--</li>-->
                <!--<li>-->
                  <!--<a href="#"><i class="fab fa-dribbble"></i></a>-->
                <!--</li>-->
              <!--</ul>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
        <!--&lt;!&ndash; Speaker Block &ndash;&gt;-->
        <!--<div class="speaker-block-three col-xl-3 col-lg-4 col-md-6 col-sm-12 wow fadeInUp">-->
          <!--<div class="inner-box">-->
            <!--<div class="image-box">-->
              <!--<figure class="image">-->
                <!--<a href="#"><img src="https://i.ibb.co/8x9xK4H/team.jpg" alt="" /></a>-->
              <!--</figure>-->
            <!--</div>-->
            <!--<div class="info-box">-->
              <!--<h4 class="name"><a href="#">Lorem Ipsum</a></h4>-->
              <!--<span class="designation">Team Manager</span>-->
            <!--</div>-->
            <!--<div class="social-box">-->
              <!--<ul class="social-links social-icon-colored">-->
                <!--<li>-->
                  <!--<a href="#"><i class="fab fa-facebook-f"></i></a>-->
                <!--</li>-->
                <!--<li>-->
                  <!--<a href="#"><i class="fab fa-twitter"></i></a>-->
                <!--</li>-->
                <!--<li>-->
                  <!--<a href="#"><i class="fab fa-pinterest"></i></a>-->
                <!--</li>-->
                <!--<li>-->
                  <!--<a href="#"><i class="fab fa-dribbble"></i></a>-->
                <!--</li>-->
              <!--</ul>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
        <!--&lt;!&ndash; Speaker Block &ndash;&gt;-->
        <!--<div class="speaker-block-three col-xl-3 col-lg-4 col-md-6 col-sm-12 wow fadeInUp">-->
          <!--<div class="inner-box">-->
            <!--<div class="image-box">-->
              <!--<figure class="image">-->
                <!--<a href="#"><img src="https://i.ibb.co/8x9xK4H/team.jpg" alt="" /></a>-->
              <!--</figure>-->
            <!--</div>-->
            <!--<div class="info-box">-->
              <!--<h4 class="name"><a href="#">Lorem Ipsum</a></h4>-->
              <!--<span class="designation">Team Manager</span>-->
            <!--</div>-->
            <!--<div class="social-box">-->
              <!--<ul class="social-links social-icon-colored">-->
                <!--<li>-->
                  <!--<a href="#"><i class="fab fa-facebook-f"></i></a>-->
                <!--</li>-->
                <!--<li>-->
                  <!--<a href="#"><i class="fab fa-twitter"></i></a>-->
                <!--</li>-->
                <!--<li>-->
                  <!--<a href="#"><i class="fab fa-pinterest"></i></a>-->
                <!--</li>-->
                <!--<li>-->
                  <!--<a href="#"><i class="fab fa-dribbble"></i></a>-->
                <!--</li>-->
              <!--</ul>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
        <!--&lt;!&ndash; Speaker Block &ndash;&gt;-->
        <!--<div class="speaker-block-three col-xl-3 col-lg-4 col-md-6 col-sm-12 wow fadeInUp">-->
          <!--<div class="inner-box">-->
            <!--<div class="image-box">-->
              <!--<figure class="image">-->
                <!--<a href="#"><img src="https://i.ibb.co/8x9xK4H/team.jpg" alt="" /></a>-->
              <!--</figure>-->
            <!--</div>-->
            <!--<div class="info-box">-->
              <!--<h4 class="name"><a href="#">Lorem Ipsum</a></h4>-->
              <!--<span class="designation">Team Manager</span>-->
            <!--</div>-->
            <!--<div class="social-box">-->
              <!--<ul class="social-links social-icon-colored">-->
                <!--<li>-->
                  <!--<a href="#"><i class="fab fa-facebook-f"></i></a>-->
                <!--</li>-->
                <!--<li>-->
                  <!--<a href="#"><i class="fab fa-twitter"></i></a>-->
                <!--</li>-->
                <!--<li>-->
                  <!--<a href="#"><i class="fab fa-pinterest"></i></a>-->
                <!--</li>-->
                <!--<li>-->
                  <!--<a href="#"><i class="fab fa-dribbble"></i></a>-->
                <!--</li>-->
              <!--</ul>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</section>-->

  <!--</section>-->

<!--<section  class="bg-gray text-center" id="background">-->
  <!--<h3>For Esprit Students, by Esprit Students</h3>-->
  <!--<hr class="line">-->
  <!--<p class="section-lead">-->
    <!--Stack Overflow is an open community for anyone that codes. We help you get answers to your toughest coding questions, share knowledge with your coworkers in private, and find your next dream job.-->

  <!--</p>-->

<!--</section>-->


<!--&lt;!&ndash; Pricing table start !&ndash;&gt;-->
<!--<div class="pricing-table-wrapper">-->
  <!--<ul class="pricing-table">-->
    <!--<li class="pricing-table__item">-->
      <!--<img src="https://css-tricks.ir/wp-content/themes/css-tricks-ir-1396/images/products/packages/1.svg" alt="" class="pricing-table__img" />-->
      <!--<h3 class="pricing-table__title">package title</h3>-->
      <!--<p class="pricing-table__description">-->
        <!--<span class="pricing-table__tagline">The tagline goes here</span>-->
        <!--<span class="pricing-table__price">800</span>-->
        <!--<span class="pricing-table__label">900 is the real price</span>-->
        <!--<span class="pricing-table__save">You save 100</span>-->
      <!--</p>-->
      <!--<ul class="pricing-table__products">-->
        <!--<li class="pricing-table__product"><a href="">Included item title</a></li>-->
        <!--<li class="pricing-table__product"><a href="">Included item title</a></li>-->
        <!--<li class="pricing-table__product pricing-table__product&#45;&#45;excluded"><a href="">Excluded item title</a></li>-->
        <!--<li class="pricing-table__product pricing-table__product&#45;&#45;excluded"><a href="">Excluded item title</a></li>-->
      <!--</ul>-->
      <!--<a href="https://mojtabaseyedi.com" class="pricing-table__button">continue</a>-->
    <!--</li>-->


  <!--</ul>-->
<!--</div>-->
<!--&lt;!&ndash; Pricing table end !&ndash;&gt;-->


<div class="container">
    <!-- Hero Section Starts -->
    <section class="hero-section" style="width: 1500px;">

      <div class="hero-shape">
        <img src="../../../assets/images/base.png" alt="shape" class="hero-round-shape-4" >
        <img src="../../../assets/images/student.png" alt="shape" class="hero-round-shape-1 item-bounce">
        <img src="../../../assets/images/book2.png" alt="shape" class="hero-round-shape-2 item-bounce">
        <img src="../../../assets/images/magnifier.png" alt="shape" class="hero-round-shape-3 item-bounce">


         <div class="row">
           <div class="col-md-12">
             <h1 style="">Start Investing In You</h1>
             <span >With over 1200 courses in 18 subjects, you're guaranteed to find something that's right for you.</span>
             <div class="hero-button">
               <!--<a href="course.html" class="template-button">start course</a>-->
               <br>
               <br>
               <a class="btn" href="#" data-title="Join For Free"></a>
             </div>
           </div>

         </div>
      </div>
      <div class="col-lg-6">
        <div class="hero-image">

        </div>

      </div>




    </section>
    <section class="feature-section">
      <div class="container">
           <div class="single-feature-item" style="background-color: #e2e3e5;">
             <div class="row">
               <div class="col-lg-4">
                 <i class="ti-world"></i>
                 <h4>Worldwide Recognize</h4>

               </div>
               <div class="col-lg-4" style="">
                 <i class="ti-world"></i>
                 <h4>Worldwide Recognize</h4>

               </div>
             </div>
             </div>
      </div>

    </section>
</div>







  <div class="full-width-div" >

      <section class="cta-section">
            <img src="../../../assets/images/limitless.png" alt="leraning limitless" id="limitless"/>
            <h1 class="text-image">Limitless learning,<br> more possibilities</h1>
              <p class="p-text1">Online courses open the opportunity for learning to<br> almost anyone, regardless of their scheduling <br>commitments.
              </p>


        <a id ="btn-position" class="btn" href="#" data-title="Read More"></a>


      </section>



</div>

